<ul class="nav nav-tabs">
    <% if ("girl" == page) { %>\
    <li class="active"><a href="#">艦娘寮</a></li>
    <% } else { %>\
    <li><a href="./girl.html">艦娘寮</a></li>
    <% } %>\

    <% if ("equip" == page) { %>\
    <li class="active"><a href="#">火器庫</a></li>
    <% } else { %>\
    <li><a href="./equip.html">火器庫</a></li>
    <% } %>\

    <% if ("ship" == page) { %>\
    <li class="active"><a href="#">艦船図鑑</a></li>
    <% } else { %>\
    <li><a href="./ship.html">艦船図鑑</a></li>
    <% } %>\

    <% if ("weapon" == page) { %>\
    <li class="active"><a href="#">装備図鑑</a></li>
    <% } else { %>\
    <li><a href="./weapon.html">装備図鑑</a></li>
    <% } %>\

</ul>