<!DOCTYPE html>
<html>
<% _scope.title = "母港の火器庫" %>\
${_.include("/templates/common/head.html",_scope)}
<body>
<div class="container">
    <% _scope.page = "equipment" %>\
    ${_.include("/templates/common/header.html",_scope)}
    <div class="panel panel-default">
        <div class="panel-heading">装備一覧</div>
        <div class="panel-body">
            <p>所持している装備ごとの所持数、所持艦などを表示します。</p>
        </div>
        <table class="table table-fixed-header">
            <thead class="header">
            <tr>
                <th>No.</th>
                <th>名称</th>
                <th>射程</th>
                <th>索敵</th>
                <th>火力</th>
                <th>雷装</th>
                <th>対空</th>
                <th>装甲</th>
                <th>回避</th>
                <th>対潜</th>
                <th>運</th>
                <th>所持数</th>
                <th>装備艦</th>
            </tr>
            </thead>
            <tbody>
            <% items.eachWithIndex { x,i -> %>\
            <tr>
                <td><a name="${x.weaponId}"></a>${i+1}</td>
                <td>${x.name}</td>
                <td>${x.range.label}</td>
                <td class="sight cur">${x.sight}</td>
                <td class="fire cur">${x.firePower}</td>
                <td class="torpedo cur">${x.torpedo}</td>
                <td class="air cur">${x.antiAir}</td>
                <td class="armor cur">${x.armor}</td>
                <td class="evasion cur">${x.evasion}</td>
                <td class="sub cur">${x.antiSub}</td>
                <td class="luck cur">${x.luck}</td>
                <td>${x.amount}</td>
                <td>
                    <% x.slots.each { e -> %>\
                    <% if (e.girl != null) { %>\
                    <a href="./myship.html#${e.girl.girlId}">${e.girl.name}</a><br/>
                    <% } %>\
                    <% } %>\
                </td>
            </tr>
            <% } %>\
            </tbody>
        </table>
    </div>
</div>
${_.include("/templates/common/footer.html",_scope)}
${_.include("/templates/common/script.html",_scope)}
</body>
</html>


