<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="./style.css" />
    <title>母港の艦娘寮</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>No.</th>
        <th>種類</th>
        <th>名称</th>
        <th>LV</th>
        <th>経験値</th>
        <th>HP</th>
        <th>燃料</th>
        <th>弾薬</th>
        <th>射程</th>
        <th>索敵</th>
        <th>火力</th>
        <th>雷装</th>
        <th>対空</th>
        <th>装甲</th>
        <th>回避</th>
        <th>対潜</th>
        <th>運</th>
        <th>装備</th>
        <th>装備</th>
        <th>装備</th>
        <th>装備</th>
    </tr>
    <% ships.eachWithIndex { x,i -> %>
    <tr>
        <td>${i+1}</td>
        <td>${x.type.name}</td>
        <td>${x.name}</td>
        <td>${x.lv}</td>
        <td>${x.exp}</td>
        <td class="<%  print x.hp.isMaximum() ? "" : "warn" %>">${x.hp.toStringWithMax()}</td>
        <td class="<%  print x.fuel.isMaximum() ? "" : "warn" %>">${x.fuel.toStringWithMax()}</td>
        <td class="<%  print x.bullet.isMaximum() ? "" : "warn" %>">${x.bullet.toStringWithMax()}</td>
        <td>${x.range.label}</td>
        <td class="sight <%  print x.sight.isFinished()?"max":"" %>">${x.sight}</td>
        <td class="fire <%  print x.fire.isFinished()?"max":"" %>">${x.fire}</td>
        <td class="torpedo <%  print x.torpedo.isFinished()?"max":"" %>">${x.torpedo}</td>
        <td class="air <%  print x.air.isFinished()?"max":"" %>">${x.air}</td>
        <td class="armor <%  print x.armor.isFinished()?"max":"" %>">${x.armor}</td>
        <td class="evasion <%  print x.evasion.isFinished()?"max":"" %>">${x.evasion}</td>
        <td class="sub <%  print x.sub.isFinished()?"max":"" %>">${x.sub}</td>
        <td class="luck <%  print x.luck.isFinished()?"max":"" %>">${x.luck}</td>
        <td class="equipment">${x.getEquipment(0)}</td>
        <td class="equipment">${x.getEquipment(1)}</td>
        <td class="equipment">${x.getEquipment(2)}</td>
        <td class="equipment">${x.getEquipment(3)}</td>
    </tr>
    <% } %>
    </tbody>
</table>

</body>
</html>


