<!DOCTYPE html>
<html>
<% _scope.title = "装備図鑑" %>\
${_.include("/templates/common/head.html",_scope)}
<body>
<div class="container">
    <% _scope.page = "weapon" %>\
    ${_.include("/templates/common/header.html",_scope)}
    <div class="panel panel-default">
        <div class="panel-heading">装備図鑑</div>
        <div class="panel-body">
            <p>装備の性能を一覧できます</p>
        </div>
        <table class="table">
            <thead class="header">
            <tr>
                <th>No.</th>
                <th>名称</th>
                <th>射程</th>
                <th>索敵</th>
                <th>火力</th>
                <th>雷装</th>
                <th>対空</th>
                <th>装甲</th>
                <th>命中</th>
                <th>回避</th>
                <th>対潜</th>
                <th>運</th>
                <th>所持数</th>
            </tr>
            </thead>
            <tbody>
            <% weapons.eachWithIndex { x,i -> %>\
            <tr>
                <td><a name="${x.weaponId}"></a>${i+1}</td>
                <td>${x.name}</td>
                <td>${x.range.label}</td>
                <td class="sight max">${x.sight}</td>
                <td class="fire max">${x.firePower}</td>
                <td class="torpedo max">${x.torpedo}</td>
                <td class="air max">${x.antiAir}</td>
                <td class="armor max">${x.armor}</td>
                <td class="accuracy max">${x.accuracy}</td>
                <td class="evasion max">${x.evasion}</td>
                <td class="sub max">${x.antiSub}</td>
                <td class="luck max">${x.luck}</td>
                <td>${x.amount}</td>
            </tr>
            <% } %>\
            </tbody>
        </table>
    </div>
</div>
${_.include("/templates/common/footer.html",_scope)}
${_.include("/templates/common/script.html",_scope)}
</body>
</html>


